@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&family=Montserrat:ital,wght@1,200&family=Quantico&display=swap');
/* font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quantico', sans-serif;


Title Header - font-size: 34px;
Description Header - font-size: 18px
Title Description - font-size 30px
Card Title - font-size 22px
Card Text  - font-size 16px
Contact Text - font-size 16px

*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(29, 29, 29);
}
.flex-container {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact-header {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    padding: 10px;
    height: 10%;
    width: 100%;
}
.flex-header-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-image: linear-gradient(to right, rgba(8, 253, 216, 0.3), rgba(8, 253, 216, 0.3)), url('images/portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.description-top {
    font-family: 'Quantico', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}
.description-header-title {
    display: block;
    margin: 40px;

    text-align: center;
    font-size: 34px;
    color: rgb(8, 253, 216);
}
.description-text {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 25px;
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
}
.title-description {
    display: block;
    align-items: flex-start;
    justify-content: left;

    padding: 30px;

    font-family: 'Quantico', sans-serif;
    text-align: left;
    font-size: 24px;
    color: rgb(8, 253, 216);
}
.skills-images {
    width: 20%;
    height: auto;
    padding: 10px;
}
.cards {
    width: 100%;
}
.card-column {
    margin: 5%;
}
.card-link {
    text-decoration: none;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 22px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: white;

    padding-bottom: 10px;
    
}
.card-image {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
}
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: white;

    padding-top: 10px;
}
.card-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-tools-image {
    width: 12.5%;
    height: auto;
    padding: 5px;
}
.contact-icons {
    padding: 5px;
    width: 10%;
    height: 10%;
}
.contact-text {
    display: flex;
    align-items: center;
    
    text-decoration: none;
    font-size: 16px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    float: right;
    padding: 5px;
    height: auto;
    width: 40px;
}
.map {
    margin: 5px auto;
    width: 90vw;
    height: 30vh;
}
 /* ::BEFORE / ::AFTER  */
.title-description::before {
    content: "──";
    padding: 2px;
}
.title-description::after {
    content: "────";
    padding: 2px;
}
.description-top::after {
    content: '<html>' ;
    position: absolute;
    margin-top: -150px;
    left: 7.5px;
    
    padding: 2px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.description-top::before {
    content: '<body>' ;
    position: absolute;
    margin-top: -120px;
    left: 24px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.map::before {
    content: "</body>";
    position: absolute;
    margin-top: 325px;
    left: 24px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.map::after {
    content: "</html>";
    position: absolute;
    margin-top: 340px;
    padding-bottom: 10px;
    left: 7.5px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
@media (max-width: 382.8px) {
    .description-header-title {
        font-size: 30px;
    }
    
    .description-top::after {
        margin-top: -150px;
    }
    .description-top::before {
        margin-top: -120px;
    }
    .map::after {
        margin-top: 340px;
    }
    .map::before {
        margin-top: 325px;
    }
    .contact-icons {
        width: 10%;
        height: 10%;
    }
}
@media (min-width: 576px) {
    .description-top::after {
        margin-top: -100px;
    }
    .description-top::before {
        margin-top: -70px;
    }
    .skills-images {
        width: 15%;
        height: auto;
    }
    .cards {
        width: 45%;
    }
    .card-tools-image {
        width: 12.5%;
        height: auto;
    }
    .contact-icons {
        width: 6%;
        height: 6%;
        margin: 3px 3px 3px 40px;
    }
    .contact-text {
        margin: 5px;
    }
    .column {
        margin: 0px auto;
    }
    .map {
        margin: 10px auto;
        width: 80vw;
        height: 30vh;
    }
}
@media (min-width: 768px) {
    .logo {
        height: 40px;
        width: 40px;
    }
    .skills-images {
        width: 10%;
        height: auto;
    }
    .card-title {
        font-size: 20px;
        padding: 15px;
    }
    .card-text {
        font-size: 16px;
        padding: 5px;
    }
    .card-tools-image {
        width: 10%;
        height: auto;
    }
    .contact-text {
        font-size: 16px;
    }
    .contact-icons {
        width: 5%;
        margin: 3px 3px 3px 0px;
    }
    .map {
        margin: 5px auto;
        width: 80vw;
        height: 40vh;
    }
    .map::after {
        margin-top: 460px;
    }
    .map::before {
        margin-top: 440px;
    }
}
@media (min-width: 992px) {
    .logo {
        height: 45px;
        width: 45px;
    }
    .flex-header-image {
        background-position-y: top;
    }
    .description-header-title {
        font-size: 36px;
    }
    .description-text {
        font-size: 20px;
    }
    .title-description {
        font-size: 24px;
    }
    .skills-images {
        width: 7%;
        height: auto;
    }
    .cards {
        width: 30.33%;
    }
    .card-title {
        font-size: 20px;
        padding: 15px;
    }
    .card-text {
        font-size: 16px;
        padding: 15px;
    }
    .card-tools-image {
        width: 15%;
        height: auto;
    }
    .contact-text {
        font-size: 18px;
        margin: 7.5px;
    }
    .contact-icons {
        width: 4%;
        height: auto;
        margin-left: 60px;
    }
    .column {
        width: 100vw;
    }
    .map {
        margin: 30px auto;
        width: 80vw;
        height: 50vh;
    }
    .map::after {
        margin-top: 480px;
    }
    .map::before {
        margin-top: 460px;
    }
}
@media (min-width: 1200px) {
    .contact-header-mobile {
        display: none;
    }
    .contact-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-left: 1px solid white;
        right: 0;
        width: 6vw;
        height: 100%;
    }
    .flex-header-image {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        width: 36.8vw;
        height: 100vh;
    }
    .logo {
        width: 40px;
        height: auto;
        margin: 5px auto;
        align-items: center;
        justify-content: center;
    }
    .column {
        display: flex;
        width: 57.2vw;
        margin: 0px;
    }
    .flex-container {
        width: 94vw;
        justify-content: flex-end;
    }
    .description-header-title {
        font-size: 32px;
    }
    .description-text {
        display: flex;
        font-size: 18px;
        width: 95%;
        margin: 0 auto;
    }
    .title-description {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }
    .skills-images {
        width: 10%;
    }
    .cards {
        width: 47.5%;
    }
    .card-title {
        font-size: 20px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-tools-image {
        width: 12%;
    }
    .contact-icons {
        display: flex;
        width: 6%;
        height: auto;
        margin-left: 45px;
    }
    .contact-text {
        font-size: 16px;
        margin: 0px;
    }
    .map {
        width: 50vw;
        height: 40vh;
        margin: 10px auto;
    }
    .description-top::after {
        display: none;
        margin-top: -120px;
        margin-left: 680px;
    }
    .description-top::before {
        display: none;
        margin-top: -85px;
        margin-left: 680px;
    }
    .title-description::before {
        content: "──────";
        padding: 5px;
    }
    .title-description::after {
        content: "──────";
        padding: 5px;
    }
    .map::after {
        display: none;
        margin-top: 470px;
        margin-left: 680px;
    }
    .map::before {
        display: none;
        margin-top: 450px;
        margin-left: 680px;
    }
}
@media (min-width: 1400px) {
    .logo {
        width: 45px
    }
    .contact-header {
        width: 5vw;
    }
    .description-header-title {
        margin: 60px auto;
        font-size: 42px;
    }
    .description-text {
        margin: 60px auto;
    }
    .row {
        margin: 60px;
    }
    .title-description {
        padding: 25px;
    }
    .contact-icons {
        width: 4.5%;
        margin-left: 65px;
    }
  }










/* .container {
    display: grid; 
    grid-template-columns: 47.5% 47.5% 5%; 
    grid-template-rows: 947px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "headerImage headerDescription contact"; 
}

.header-image {
    background-image: linear-gradient(to right, rgba(97, 172, 192, 0.5), rgba(97, 172, 192, 0.5)), url('images/portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-description {    
    background-color: grey;
    font-family: 'Quantico', sans-serif;
    padding: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: left;
}
.header-description-top {

}
.header-description-middle {

}
.header-description-bottom {
    font-size: 24px;
    color: rgb(97, 172, 192);
}
.contact-background {
    background-color: grey;
    border-left: 1px solid;
    border-color: white;
} */

/* .circle-button {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: rgb(61, 61, 61);
    border-radius: 100%;

    font-family: 'Merienda', cursive;
    color: white;
    font-size: 36px;

    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);

    transition: .3s ease-in;
}
.circle-button:hover {
    transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}