@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@900&family=Montserrat:ital,wght@1,200&family=Quantico&display=swap');
/* font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quantico', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(29, 29, 29);
}
.flex-container {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
}
.flex-container-header {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row-reverse;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.column-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.contact-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    width: 80%;
}
.fixed-contact {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    padding: 10px;
    height: 10%;
    width: 100%;
}
.header-image {
    position: static;
    width: 100%;
    height: 430px;
    background-image: linear-gradient(to right, rgba(8, 253, 216, 0.3), rgba(8, 253, 216, 0.3)), url('images/portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}
.header-image-desktop {
    display: none;
    width: 100%;
    height: auto;
    background-position: center;
    background-image: linear-gradient(to right, rgba(8, 253, 216, 0.3), rgba(8, 253, 216, 0.3)), url('images/portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3px rgb(8, 253, 216), 0 0 9px rgb(8, 253, 216), 0 0 12px rgb(8, 253, 216), 0 0 24px rgb(8, 253, 216), 0 0 42px transparent, 0 0 6px rgb(8, 253, 216), 0 0 68px transparent;
}
.header-title {
    font-family: 'Quantico', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;

    text-align: center;
    font-size: 34px;
    color: rgb(8, 253, 216);

    -webkit-animation: blink 12s infinite;
    animation: blink 12s infinite;
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px rgb(8, 253, 216), 0 0 15px rgb(8, 253, 216), 0 0 20px rgb(8, 253, 216), 0 0 40px rgb(8, 253, 216), 0 0 60px transparent, 0 0 10px rgb(8, 253, 216), 0 0 98px transparent;
      color: rgb(8, 253, 216);
    }
}
  
@keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px rgb(8, 253, 216), 0 0 15px rgb(8, 253, 216), 0 0 20px rgb(8, 253, 216), 0 0 40px rgb(8, 253, 216), 0 0 60px transparent, 0 0 10px rgb(8, 253, 216), 0 0 98px transparent;
      color: rgb(8, 253, 216);
    }
}
.description-text {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 25px;
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
}
.section-title {
    display: block;
    align-items: flex-start;
    justify-content: left;

    padding: 30px;

    font-family: 'Quantico', sans-serif;
    text-align: left;
    font-size: 24px;
    color: rgb(8, 253, 216);
}
.skills-images {
    width: 20%;
    height: auto;
    padding: 10px;
}
.cards {
    width: 100%;
}
.card-column {
    margin: 5%;
}
.card-link {
    text-decoration: none;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 22px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: white;

    padding-bottom: 10px;
    
}
.card-image {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    color: white;

    padding-top: 10px;
}
.card-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-tools-image {
    width: 12.5%;
    height: auto;
    padding: 5px;
}
.contact-icons {
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
.contact-text {
    display: flex;
    align-items: center;
    
    text-decoration: none;
    font-size: 16px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}
.fixed-contact-icons {
    float: right;
    padding: 5px;
    height: auto;
    width: 40px;
}
.footer {
    width: 100%;
    background-color: transparent;
}
 /* ::BEFORE / ::AFTER  */
.section-title::before {
    content: "──";
    padding: 2px;
}
.section-title::after {
    content: "────";
    padding: 2px;
}
.header-image::after {
    content: '<html>' ;
    position: absolute;
    margin-top: 435px;
    left: 7.5px;
    
    padding: 2px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.header-image::before {
    content: '<body>' ;
    position: absolute;
    margin-top: 450px;
    left: 24px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.footer::before {
    content: "</body>";
    position: absolute;
    margin-top: 0px;
    left: 24px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.footer::after {
    content: "</html>";
    position: absolute;
    margin-top: 15px;
    padding-bottom: 10px;
    left: 7.5px;

    color: rgb(81, 81, 82);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
@media (max-width: 382.8px) {
    .header-title {
        font-size: 30px;
    }
    .contact-text {
        margin-left: 10px;
    }
    .footer::before {
        margin-top: 0px;
    }
    .footer::after {
        margin-top: 15px;
    }
    .contact-icons {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
}
@media (min-width: 576px) {
    .skills-images {
        width: 15%;
        height: auto;
    }
    .cards {
        width: 45%;
    }
    .card-tools-image {
        width: 12.5%;
        height: auto;
    }
    .contact-icons {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 768px) {
    .fixed-contact-icons {
        height: 40px;
        width: 40px;
    }
    .column {
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .section-title {
        text-align: center;
    }
    .skills-images {
        width: 10%;
        height: auto;
    }
    .card-title {
        font-size: 20px;
        padding: 15px;
    }
    .card-text {
        font-size: 16px;
        padding: 5px;
    }
    .card-tools-image {
        width: 10%;
        height: auto;
    }
    .contact-text {
        font-size: 16px;
    }
    .contact-icons {
        display: flex;
        width: 40px;
        height: 40px;
    }
    .column-contact {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: auto 10px;
    }
    .section-title::after {
        content:"──────";
    }
    .section-title::before {
        content: "──────";
    }
    .footer::before {
        margin-top: 0px;
    }
    .footer::after {
        margin-top: 15px;
    }
}
@media (min-width: 992px) {
    .fixed-contact-icons {
        height: 45px;
        width: 45px;
    }
    .header-title {
        font-size: 36px;
    }
    .description-text {
        font-size: 20px;
    }
    .section-title {
        font-size: 24px;
    }
    .skills-images {
        width: 7%;
        height: auto;
    }
    .cards {
        width: 45%;
    }
    .card-title {
        font-size: 20px;
        padding: 15px;
    }
    .card-text {
        font-size: 16px;
        padding: 15px;
    }
    .card-tools-image {
        width: 15%;
        height: auto;
    }
    .contact-text {
        font-size: 18px;
    }
    .contact-icons {
        width: 40px;
    }
    .column {
        width: 100%;
    }
    .footer::before {
        margin-top: 0px;
    }
    .footer::after {
        margin-top: 15px;
    }
}
@media (min-width: 1200px) {
    .fixed-contact-mobile {
        display: none;
    }
    .fixed-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-left: 1px solid white;
        right: 0;
        width: 5%;
        height: 100%;
    }
    .fixed-contact-icons {
        width: 40px;
        height: auto;
        margin: 5px auto;
        align-items: center;
        justify-content: center;
    }
    .header-image {
        display: none;
    }
    .header-image-desktop {
        display: flex;
        margin: auto;
        height: 300px;
        width: 300px;
    }
    .column-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 100px 10px 100px 10px;
        width: 60%;
    }
    .column {
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .flex-container {
        width: 95%;
    }
    .flex-container-header {
        width: 95%;
        align-items: center;
        margin: 50px auto;
        justify-content: center;
    }
    .header-title {
        font-size: 32px;
    }
    .description-text {
        display: flex;
        font-size: 18px;
        width: 95%;
        margin: 0 auto;
    }
    .section-title {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }
    .skills-images {
        width: 7.5%;
    }
    .cards {
        width: 47.5%;
    }
    .card-title {
        font-size: 24px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-tools-image {
        width: 12%;
    }
    .contact-icons {
        display: flex;
        width: 40px;
        height: auto;
        margin-left: 95px;
    }
    .contact-text {
        font-size: 16px;
        margin-left: 10px;
    }
    .column-contact {
        display: flex;
        justify-content: center;
        text-align: center;  
        margin-top: 50px;
    }
    .section-title::before {
        content: "──────";
        padding: 5px;
    }
    .section-title::after {
        content: "──────";
        padding: 5px;
    }
    .footer::after {
        display: none;
    }
    .footer::before {
        display: none;
    }
}
@media (min-width: 1400px) {
    .fixed-contact-icons {
        width: 45px
    }
    .fixed-contact {
        width: 5%;
    }
    .header-title {
        margin: auto;
        font-size: 42px;
    }
    .description-text {
        font-size: 24px;
        margin: 60px auto;
    }
    .section-title {
        padding: 25px;
        font-size: 32px;
    }
    .row {
        margin: 50px;
    }
    .skills-images {
        width: 100px;
        height: auto;
    }
    .cards {
        width: 30%;
    }
    .contact-icons {
        width: 50px;
        margin-left: 160px;
    }
}